.logo-navbar {
  height: 50px; /* Ajusta el tamaño del logo */
}

.custom-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba%28255,255,255,1%29' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}
/* Asegura blanco para los textos */
.navbar .nav-link,
.navbar .navbar-brand,
.navbar .dropdown-toggle {
  color: white !important;
}

/* Para el ícono del botón hamburguesa */
.navbar-toggler {
  border-color: white;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba%28255,255,255,1%29' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

/* Asegura dropdown blanco */
.dropdown-menu {
  background-color: #000 !important;
}

.dropdown-menu .dropdown-item {
  color: white !important;
}


.card-title {
  font-weight: bold;
}

.card {
  transition: transform 0.3s ease;
}
.card:hover {
  transform: scale(1.03);
}



